name: Deploy
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: redkubes/docusaurus-deploy-action@v1.2
        with:
          source-folder: docs
          git-user: zhfnjust
          git-password: ${{ secrets.GITHUB_TOKEN }}
          deployment-branch: gh-pages
