openapi: 3.0.3
info:
  title: Introduction
  contact:
    email: support@scrypt.io
  version: v1
  description: The sCrypt Open API provides endpoints for accessing and managing various aspects of BRC-20 tokens, Ordinals inscriptions, and Runes on BTC. 
  

    It allows developers to retrieve detailed information about specific tokens, holders, and balances, as well as to interact with inscription data and Rune specifics.

  
    The API ensures secure access through JWT bearer authentication.
servers:
  - url: https://open-api.scrypt.io/v1
  - url: http://localhost:3008/v1
tags:
  - name: BRC-20
  - name: Inscriptions
  - name: Runes
  - name: SNS
  - name: Bitmap
paths:
  /btc/{network}/brc20/{ticker}/info:
    get:
      tags:
        - BRC-20
      description: Get the infomation of BRC-20 by ticker.
      operationId: Get BRC-20 Ticker Info
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: ticker
          in: path
          description: BRC-20 ticker
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  id: '1'
                  original_tick: ordi
                  tick: ordi
                  max_supply: '21000000000000000000000000'
                  decimals: 18
                  limit_per_mint: '1000000000000000000000'
                  remaining_supply: '0'
                  burned_supply: '0'
                  is_self_mint: false
                  deploy_inscription_id: b61b0172d95e266c18aea0c624db987e971a5d6d4ebc2aaed85da4642d635735i0
                  block_height: 779832
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/brc20/{ticker}/holders:
    get:
      tags:
        - BRC-20
      description: Get the holders of BRC-20 by ticker.
      operationId: Get BRC-20 Holders
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: ticker
          in: path
          description: BRC-20 ticker
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: paging limit
          required: false
          schema:
            type: number
        - name: offset
          in: query
          description: paging offset
          required: false
          schema:
            type: number
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - pkscript: 0014bf1916dc33dbdd65f60d8b1f65eb35e8120835fc
                    wallet: bc1qhuv3dhpnm0wktasd3v0kt6e4aqfqsd0uhfdu7d
                    overall_balance: '8712082383523010000000000'
                    available_balance: '8712082383523010000000000'
                    transferable_balance: '0'
                  - pkscript: 002042135392c4b08a5d7194640340976513b2b100a3e4f50d56fbd70099c633b81e
                    wallet: bc1qggf48ykykz996uv5vsp5p9m9zwetzq9run6s64hm6uqfn33nhq0ql9t85q
                    overall_balance: '1681390956909560000000000'
                    available_balance: '6038956909560000000000'
                    transferable_balance: '1675352000000000000000000'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/brc20/{ticker}/addresses/{address}/balances:
    get:
      tags:
        - BRC-20
      description: Get BRC-20 balance by address and ticker.
      operationId: Get Address BRC-20 Balance
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: ticker
          in: path
          description: BRC-20 ticker
          required: true
          schema:
            type: string
        - name: address
          in: path
          description: BTC address
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  overall_balance: '502730000000000000000'
                  available_balance: '502730000000000000000'
                  transferable_balance: '0'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/brc20/{ticker}/addresses/{address}/transferable:
    get:
      tags:
        - BRC-20
      description: Get BRC-20 transferable inscriptions by address and ticker.
      operationId: Get transferable BRC-20 inscriptions
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: ticker
          in: path
          description: BRC-20 ticker
          required: true
          schema:
            type: string
        - name: address
          in: path
          description: BTC address
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - tick: good
                    inscription_id: eaec96ce4374e66eff53d2d5cc22fbd76c06f8ec0ab1f17ee1bfc2333286360di0
                    current_holder_pkscript: a914af9ac77b46c4f94a92e0fd831e6d17e1915cbfc087
                    current_holder_wallet: 2N9Fjf6wvNoHv3N8NXncw26zQPZM5CxmkoY
                    amount: "1000000000000000000"
                    genesis_height: 2817428
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/brc20/addresses/{address}/balances:
    get:
      tags:
        - BRC-20
      description: Get BRC-20 balance list by address.
      operationId: Get Address BRC-20 Balance List
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: address
          in: path
          description: BTC address
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: paging limit
          required: false
          schema:
            type: number
        - name: offset
          in: query
          description: paging offset
          required: false
          schema:
            type: number
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - ticker: ordi
                    overall_balance: '502730000000000000000'
                    available_balance: '0'
                    transferable_balance: '0'
                  - ticker: maga
                    overall_balance: '10500000000000000000000'
                    available_balance: '0'
                    transferable_balance: '0'
                  - ticker: ordg
                    overall_balance: '666000000000000000000'
                    available_balance: '0'
                    transferable_balance: '0'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/inscriptions/{id}:
    get:
      tags:
        - Inscriptions
      description: Get Ordinals inscription info by inscription ID.
      operationId: Get Inscription Info
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: inscription ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  address: bc1p50ujsn3q7de6497evy3c63xms4x5v9h5xzhvqduf8hzdunru8pfqdkgw29
                  charms: []
                  children: []
                  content_length: 57
                  content_type: text/plain;charset=utf-8
                  effective_content_type: text/plain;charset=utf-8
                  fee: 1464
                  height: 844353
                  id: 09f3acc92192536db3a0566da000cf931a9560799f893ab4cd08f6c4f022c549i0
                  next: 1d7dd8c77d19e6caa4f14e1d82e1085e1c49c33fd00ba4a54fa287df19c21b7fi0
                  number: 70932816
                  parents: []
                  previous: c2edab35d99d18cf1fd96d66096e3477e10c5fb06e5e3df1fe8c0cfec3f85c17i2
                  rune: null
                  sat: null
                  satpoint: 09f3acc92192536db3a0566da000cf931a9560799f893ab4cd08f6c4f022c549:0:0
                  timestamp: 1716240503
                  value: 330
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Inscription ID not found
      security:
        - bearerAuth: []
  /btc/{network}/inscriptions/{id}/content:
    get:
      tags:
        - Inscriptions
      description: Get Ordinals inscription content info by inscription ID.
      operationId: Get Inscription Content
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: inscription ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            text/plain:
              example:
                p: brc-20
                op: transfer
                tick: MAGA
                amt: '3000'
            text/html:
              example:
            application/xhtml+xml:
              example:
            application/xml;q=0.9:
              example:
            image/avif:
              example:
            image/webp:
              example:
            image/apng:
              example:
            image/*:
              example:
            application/signed-exchange;v=b3;q=0.7:
              example:
            application/json:
              example:
            application/octet-stream:
              example:
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Inscription ID not found
      security:
        - bearerAuth: []
  /btc/{network}/runes/{nameOrId}/info:
    get:
      tags:
        - Runes
      description: Get rune info by rune name or ID.
      operationId: Get Runes Info
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: nameOrId
          in: path
          description: Rune name or ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - rune_id: '840106:129'
                    burned: '0'
                    divisibility: 8
                    etching: 535c886ea53e4724bee9e54a3aac9d8aa4feda38a2d4c37597fc0ee524a02c0a
                    terms_amount: '2009010300000000'
                    terms_cap: '0'
                    terms_height_l: null
                    terms_height_h: null
                    terms_offset_l: null
                    terms_offset_h: null
                    mints: '0'
                    premine: '2009010300000000'
                    rune_name: SATOSHIRUNETITAN
                    spacers: '1088'
                    symbol: null
                    timestamp: '2024-04-20T19:57:59.000Z'
                    turbo: false
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Rune name of ID not found
      security:
        - bearerAuth: []
  /btc/{network}/runes/{nameOrId}/holders:
    get:
      tags:
        - Runes
      description: Get rune holders by Rune name or ID.
      operationId: Get Runes Holders
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: nameOrId
          in: path
          description: Rune name or ID
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: paging limit
          required: false
          schema:
            type: number
        - name: offset
          in: query
          description: paging offset
          required: false
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - pkscript: 512094ce6b24219eec616476994848636e1d57551ae031e348a1a0d8a4dcfbd2db2c
                    wallet_addr: bc1pjn8xkfppnmkxzerkn9yyscmwr4t42xhqx8353gdqmzjde77jmvkq2drg8p
                    rune_id: '840106:129'
                    total_balance: '14640700000000'
                    rune_name: SATOSHIRUNETITAN
                  - pkscript: 5120844a80e9c09978d4a47184d615820e791977dd179071c5f8d375e59ccaa9b0d7
                    wallet_addr: bc1ps39gp6wqn9udffr3sntptqsw0yvh0hghjpcut7xnwhjeej4fkrtsl03jmy
                    rune_id: '840106:129'
                    total_balance: '13915000000000'
                    rune_name: SATOSHIRUNETITAN
                  - pkscript: 512005df61448f8e0cc04a8dccef62207e7f91091b12013127d9fccd7365d09934bc
                    wallet_addr: bc1pqh0kz3y03cxvqj5denhkygr707gsjxcjqycj0k0ue4ekt5yexj7qh0e659
                    rune_id: '840106:129'
                    total_balance: '10000000000000'
                    rune_name: SATOSHIRUNETITAN
                  - pkscript: 5120011b49e3dd553c684e471b12e6eea0d017b9e0c69a0638cad6b1174603037560
                    wallet_addr: bc1pqyd5nc7a257xsnj8rvfwdm4q6qtmncxxngrr3jkkkyt5vqcrw4sq67fk7g
                    rune_id: '840106:129'
                    total_balance: '10000000000000'
                    rune_name: SATOSHIRUNETITAN
                  - pkscript: 512003f067cd6aee8a1340621e4e3cbeacb9c1ce72583b44a46f142ebeadfe54c078
                    wallet_addr: bc1pq0cx0nt2a69pxsrzre8re04vh8quuujc8dz2gmc596l2mlj5cpuqp4qwln
                    rune_id: '840106:129'
                    total_balance: '10000000000000'
                    rune_name: SATOSHIRUNETITAN
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Rune name of ID not found
      security:
        - bearerAuth: []
  /btc/{network}/runes/{nameOrId}/addresses/{address}/balances:
    get:
      tags:
        - Runes
      description: Get rune balance by address and rune name or ID.
      operationId: Get Address Runes Balance
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: nameOrId
          in: path
          description: Rune name or ID
          required: true
          schema:
            type: string
        - name: address
          in: path
          description: BTC address
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: paging limit
          required: false
          schema:
            type: number
        - name: offset
          in: query
          description: paging offset
          required: false
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - pkscript: 5120a3f9284e20f373aa97d961238d44db854d4616f430aec037893dc4de4c7c3852
                    wallet_addr: bc1p50ujsn3q7de6497evy3c63xms4x5v9h5xzhvqduf8hzdunru8pfqdkgw29
                    rune_id: '1:0'
                    rune_name: UNCOMMONGOODS
                    total_balance: '1005'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Rune name of ID not found
      security:
        - bearerAuth: []
  /btc/{network}/runes/{nameOrId}/addresses/{address}/utxos:
    get:
      tags:
        - Runes
      description: Get rune UTXO by address and rune name or ID.
      operationId: Get Address Runes UTXO
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: nameOrId
          in: path
          description: Rune name or ID
          required: true
          schema:
            type: string
        - name: address
          in: path
          description: BTC address
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: paging limit
          required: false
          schema:
            type: number
        - name: offset
          in: query
          description: paging offset
          required: false
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - pkscript: 5120a3f9284e20f373aa97d961238d44db854d4616f430aec037893dc4de4c7c3852
                    wallet_addr: bc1p50ujsn3q7de6497evy3c63xms4x5v9h5xzhvqduf8hzdunru8pfqdkgw29
                    outpoint: 914909980a0abb7271f91c4832dac09547e56afb730a540a48b8d46f814cb134:1
                    rune_id: '1:0'
                    balance: '1'
                  - pkscript: 5120a3f9284e20f373aa97d961238d44db854d4616f430aec037893dc4de4c7c3852
                    wallet_addr: bc1p50ujsn3q7de6497evy3c63xms4x5v9h5xzhvqduf8hzdunru8pfqdkgw29
                    outpoint: a429e7b8f6c3134e657fe63f3bb41a4e0e027f9dcce223fb77a6cfc5dc74a403:1
                    rune_id: '1:0'
                    balance: '1'
                  - pkscript: 5120a3f9284e20f373aa97d961238d44db854d4616f430aec037893dc4de4c7c3852
                    wallet_addr: bc1p50ujsn3q7de6497evy3c63xms4x5v9h5xzhvqduf8hzdunru8pfqdkgw29
                    outpoint: c985116051d0fbad69bc17d63cce178013fb01fc49160fb099fd464ccd2180eb:1
                    rune_id: '1:0'
                    balance: '1'
                  - pkscript: 5120a3f9284e20f373aa97d961238d44db854d4616f430aec037893dc4de4c7c3852
                    wallet_addr: bc1p50ujsn3q7de6497evy3c63xms4x5v9h5xzhvqduf8hzdunru8pfqdkgw29
                    outpoint: 69c52b0c1b766101bb99c7bbaa6e9a055ac11d72eb4cf619c17c0313cd478064:1
                    rune_id: '1:0'
                    balance: '1'
                  - pkscript: 5120a3f9284e20f373aa97d961238d44db854d4616f430aec037893dc4de4c7c3852
                    wallet_addr: bc1p50ujsn3q7de6497evy3c63xms4x5v9h5xzhvqduf8hzdunru8pfqdkgw29
                    outpoint: 2b44144c449052bd1ee0428aab6563fde8b35859a7b1a461accf0c9ffebe1886:1
                    rune_id: '1:0'
                    balance: '1'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Rune name of ID not found
      security:
        - bearerAuth: []
  /btc/{network}/runes/addresses/{address}/balances:
    get:
      tags:
        - Runes
      description: Get runes balance list by address
      operationId: Get Address Runes Balance List
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: address
          in: path
          description: BTC address
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: paging limit
          required: false
          schema:
            type: number
        - name: offset
          in: query
          description: paging offset
          required: false
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - pkscript: 5120a3f9284e20f373aa97d961238d44db854d4616f430aec037893dc4de4c7c3852
                    wallet_addr: bc1p50ujsn3q7de6497evy3c63xms4x5v9h5xzhvqduf8hzdunru8pfqdkgw29
                    rune_id: '842029:1175'
                    rune_name: WHERELAMBOGORILLA
                    total_balance: '2000000'
                  - pkscript: 5120a3f9284e20f373aa97d961238d44db854d4616f430aec037893dc4de4c7c3852
                    wallet_addr: bc1p50ujsn3q7de6497evy3c63xms4x5v9h5xzhvqduf8hzdunru8pfqdkgw29
                    rune_id: '1:0'
                    rune_name: UNCOMMONGOODS
                    total_balance: '1005'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Rune name of ID not found
      security:
        - bearerAuth: []
  /btc/{network}/runes/addresses/{address}/utxos:
    get:
      tags:
        - Runes
      description: Get runes UTXO list by address
      operationId: Get Address Runes UTXO List
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: address
          in: path
          description: BTC address
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: paging limit
          required: false
          schema:
            type: number
        - name: offset
          in: query
          description: paging offset
          required: false
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - pkscript: 5120a3f9284e20f373aa97d961238d44db854d4616f430aec037893dc4de4c7c3852
                    wallet_addr: bc1p50ujsn3q7de6497evy3c63xms4x5v9h5xzhvqduf8hzdunru8pfqdkgw29
                    outpoint: 914909980a0abb7271f91c4832dac09547e56afb730a540a48b8d46f814cb134:1
                    rune_id: '1:0'
                    balance: '1'
                  - pkscript: 5120a3f9284e20f373aa97d961238d44db854d4616f430aec037893dc4de4c7c3852
                    wallet_addr: bc1p50ujsn3q7de6497evy3c63xms4x5v9h5xzhvqduf8hzdunru8pfqdkgw29
                    outpoint: a429e7b8f6c3134e657fe63f3bb41a4e0e027f9dcce223fb77a6cfc5dc74a403:1
                    rune_id: '1:0'
                    balance: '1'
                  - pkscript: 5120a3f9284e20f373aa97d961238d44db854d4616f430aec037893dc4de4c7c3852
                    wallet_addr: bc1p50ujsn3q7de6497evy3c63xms4x5v9h5xzhvqduf8hzdunru8pfqdkgw29
                    outpoint: c985116051d0fbad69bc17d63cce178013fb01fc49160fb099fd464ccd2180eb:1
                    rune_id: '1:0'
                    balance: '1'
                  - pkscript: 5120a3f9284e20f373aa97d961238d44db854d4616f430aec037893dc4de4c7c3852
                    wallet_addr: bc1p50ujsn3q7de6497evy3c63xms4x5v9h5xzhvqduf8hzdunru8pfqdkgw29
                    outpoint: 69c52b0c1b766101bb99c7bbaa6e9a055ac11d72eb4cf619c17c0313cd478064:1
                    rune_id: '1:0'
                    balance: '1'
                  - pkscript: 5120a3f9284e20f373aa97d961238d44db854d4616f430aec037893dc4de4c7c3852
                    wallet_addr: bc1p50ujsn3q7de6497evy3c63xms4x5v9h5xzhvqduf8hzdunru8pfqdkgw29
                    outpoint: 2b44144c449052bd1ee0428aab6563fde8b35859a7b1a461accf0c9ffebe1886:1
                    rune_id: '1:0'
                    balance: '1'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Rune name of ID not found
      security:
        - bearerAuth: []
  /btc/{network}/runes/outpoints/{outpoint}/balances:
    get:
      tags:
        - Runes
      description: Get runes balance list by transaction outpoint.
      operationId: Get Outpoint Runes Balance List
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: outpoint
          in: path
          description: BTC transaction outpint in format `txid:vout`
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - pkscript: 5120a3f9284e20f373aa97d961238d44db854d4616f430aec037893dc4de4c7c3852
                    wallet_addr: bc1p50ujsn3q7de6497evy3c63xms4x5v9h5xzhvqduf8hzdunru8pfqdkgw29
                    rune_id: '1:0'
                    balance: '1'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Rune name of ID not found
      security:
        - bearerAuth: []
  /btc/{network}/sns/names:
    get:
      tags:
        - SNS
      description: Get sns name list.
      operationId: Get SNS Name List
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: paging limit
          required: false
          schema:
            type: number
        - name: offset
          in: query
          description: paging offset
          required: false
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - holder: tb1phcqfn7yjvc9ra5cn3eeturladmdefr9gqpjz2tzp5djlja26ycrq08l77d
                    name: bitcoin.
                    namesapce: ''
                    block_height: 122477
                    inscription_id: 0a425cd01f2da929cdd8d577718e5abecfa91a388e8564442d6c09597fc9f993i0
                    inscription_number: 101
                  - holder: tb1phcqfn7yjvc9ra5cn3eeturladmdefr9gqpjz2tzp5djlja26ycrq08l77d
                    name: '85.67'
                    namesapce: '67'
                    block_height: 122495
                    inscription_id: fa983d428a0aeb3d1c4dcea6cad12979c2fb252df7a8def6a2ce58f5d6e6d232i0
                    inscription_number: 104
                  - holder: tb1qaex0u0vxe6e4dk0v6z8a9wf7ahtfemj7q55mp0
                    name: bitcoinnews.com
                    namesapce: com
                    block_height: 124245
                    inscription_id: 6b12d9c6a7fd10cfd95dc83264277f5fd4ecd1aa21cebbdec023df478c23f384i0
                    inscription_number: 188
                  - holder: tb1qgtvgsyg0fry0m4w30xl8gzdhxlwrh8cmsl36pv
                    name: github.com/dannydeezy/ord-unsafe
                    namesapce: com/dannydeezy/ord-unsafe
                    block_height: 128589
                    inscription_id: 985f816a206ef81d4f8c2c432f28e9e0c7dbddbf59e539123535f3794675ec32i0
                    inscription_number: 222
                  - holder: tb1qgvpm3425zwrehcws495aq7vtmajhw6hwwh8jdg
                    name: deezy.io
                    namesapce: io
                    block_height: 128619
                    inscription_id: 67cfc4269d37856f93928e6061e0c935fce6a58568834128702e4f3ab54f1082i0
                    inscription_number: 231
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/sns/names/{nameOrInscriptionId}:
    get:
      tags:
        - SNS
      description: Get SNS name info by name or inscription ID.
      operationId: Get SNS Name Info
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: nameOrInscriptionId
          in: path
          description: SNS name or inscription ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  holder: tb1qaex0u0vxe6e4dk0v6z8a9wf7ahtfemj7q55mp0
                  name: bitcoinnews.com
                  namesapce: com
                  block_height: 124245
                  inscription_id: 6b12d9c6a7fd10cfd95dc83264277f5fd4ecd1aa21cebbdec023df478c23f384i0
                  inscription_number: 188
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: SNS name or inscription ID not found
      security:
        - bearerAuth: []
  /btc/{network}/sns/namespaces/{namespace}/names:
    get:
      tags:
        - SNS
      description: Get sns name list by namespace.
      operationId: Get SNS Name List by Namespace
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: namespace
          in: path
          description: SNS namespace
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: paging limit
          required: false
          schema:
            type: number
        - name: offset
          in: query
          description: paging offset
          required: false
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - holder: tb1pz753aurxzc4wl7m3x2ttddjxkxq6r0ax9zc3uy9ekq6ns5543e7qqxcyed
                    name: kkk.sats
                    namesapce: sats
                    block_height: 133131
                    inscription_id: 9332082caabc7c52a3687c7678bdf69b4baa5239c3e6403d740467d12c44385ei0
                    inscription_number: 777
                  - holder: tb1psmkng77wj76n3ja5vngmtu7arwsq95y6svx2gaf97329gy5kmzdsvr5tql
                    name: revofusion.sats
                    namesapce: sats
                    block_height: 135294
                    inscription_id: 125b92d55f219b2d2e4b26d9bc0e5f86354781d13daa14dcdec863ea09c0edd1i0
                    inscription_number: 1346
                  - holder: tb1pjt8p0muqg4uk7f5zeryh85upqg4fy4sffz6858z8n3uv8mh50rhq6kvn4c
                    name: asdasasasayyy.sats
                    namesapce: sats
                    block_height: 135348
                    inscription_id: 595677db897c754bb1b42066b1f268f709c3ddc02148d8081ef679a6b453073ei0
                    inscription_number: 1355
                  - holder: tb1p77v9fpq5u3cymw9fthvts3hw7uhrzw7h3c57uy9rd8s7908v8j3sevz553
                    name: asdasdas.sats
                    namesapce: sats
                    block_height: 135348
                    inscription_id: 6ed3ccc09edcb529404ecea44a83fd8aa523e7c68ed6613f4845ac3f7fcd006bi0
                    inscription_number: 1356
                  - holder: tb1pnhvtqn6wzp7c3ltftnnkmntp6rkyeyrdkx9ua8rcdxuv6fgm0g9qtjv9xr
                    name: income.sats
                    namesapce: sats
                    block_height: 135452
                    inscription_id: dd8762db3ffc1b2b145a6d79833c0b40738f1eaecd3fccf04fc767e494ec0e5ei0
                    inscription_number: 1371
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/sns/addresses/{address}/names:
    get:
      tags:
        - SNS
      description: Get sns name list by address.
      operationId: Get SNS Name List by Address
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: address
          in: path
          description: BTC address
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: paging limit
          required: false
          schema:
            type: number
        - name: offset
          in: query
          description: paging offset
          required: false
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - holder: tb1pem96azm4s5j9p32t605h57rdkh4hz6hxe6cl522umvdllx2n775s6r479d
                    name: 829811.bitmap
                    namesapce: bitmap
                    block_height: 182043
                    inscription_id: 3243d11aa6ecb7ad8f9c815e74679adfeece42e71cf8a7b48cb97a583c5acf75i2
                    inscription_number: 32945
                  - holder: tb1pem96azm4s5j9p32t605h57rdkh4hz6hxe6cl522umvdllx2n775s6r479d
                    name: 182046.bitmap
                    namesapce: bitmap
                    block_height: 182046
                    inscription_id: ef640440294d704e53f1644f2bfd8ff327daa293aeb92dff61508041af5e5015i2
                    inscription_number: 32951
                  - holder: tb1pem96azm4s5j9p32t605h57rdkh4hz6hxe6cl522umvdllx2n775s6r479d
                    name: 182047.bitmap
                    namesapce: bitmap
                    block_height: 182047
                    inscription_id: 9fbc21727d397a74c8ef7735e747e23954cf269e1db6dec7a3ac77c68ab7f964i2
                    inscription_number: 32954
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/bitmaps:
    get:
      tags:
        - Bitmap
      description: Get bitmap list.
      operationId: Get Bitmap List
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: paging limit
          required: false
          schema:
            type: number
        - name: offset
          in: query
          description: paging offset
          required: false
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - bitmap_number: 1
                    inscription_id: dbceae0a3c761e26e19ee936b688d7710e846c61224b1ad3fcc10b1d3e5a0487i0
                    holder: tb1p0e5anveswxrzkjr7mrglrk984vcjcdnfmrxt0fcd6w2s7e5q495s5knnu3
                    inscription_number: 30676
                  - bitmap_number: 2
                    inscription_id: 019ca6b32d80113c889f7b2f36c7d6921f858fc11db1611f3cc5a21d49aa35f2i0
                    holder: tb1p0e5anveswxrzkjr7mrglrk984vcjcdnfmrxt0fcd6w2s7e5q495s5knnu3
                    inscription_number: 30677
                  - bitmap_number: 3
                    inscription_id: 338f12023d33bc97b275d12a4d5c3f134ab71b133082374e858a51f68ffcfa90i0
                    holder: tb1p0e5anveswxrzkjr7mrglrk984vcjcdnfmrxt0fcd6w2s7e5q495s5knnu3
                    inscription_number: 30678
                  - bitmap_number: 4
                    inscription_id: a5d048acc410bca92482a3aee92adc7521ef6d3f67f99c6c70c19dbcaa1c4a85i0
                    holder: tb1p0e5anveswxrzkjr7mrglrk984vcjcdnfmrxt0fcd6w2s7e5q495s5knnu3
                    inscription_number: 30681
                  - bitmap_number: 123
                    inscription_id: caf7d68185484df709c372a735937b1919939653461c7cb7ee1f12577a210660i0
                    holder: tb1pm240eee2zr09llly77auakn52v942d3sd8sc6apu9chuq5xaad9qd8nps6
                    inscription_number: 18414
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/bitmaps/{numberOrInscriptionId}/info:
    get:
      tags:
        - Bitmap
      description: Get bitmap info by number or inscription ID.
      operationId: Get Bitmap Info
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: numberOrInscriptionId
          in: path
          description: Bitmap number or inscription ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  inscription_id: caf7d68185484df709c372a735937b1919939653461c7cb7ee1f12577a210660i0
                  bitmap_number: 123
                  holder: tb1pm240eee2zr09llly77auakn52v942d3sd8sc6apu9chuq5xaad9qd8nps6
                  inscription_number: 18414
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Bitmap number or inscription ID not found
      security:
        - bearerAuth: []
  /btc/{network}/bitmaps/addresses/{address}/assets:
      get:
        tags:
          - Bitmap
        description: Get bitmap list by address.
        operationId: Get Bitmap List by Address
        parameters:
          - name: network
            in: path
            description: BTC chain network (mainnet | testnet | signet)
            required: true
            schema:
              type: string
          - name: address
            in: path
            description: BTC address
            required: true
            schema:
              type: string
          - name: limit
            in: query
            description: paging limit
            required: false
            schema:
              type: number
          - name: offset
            in: query
            description: paging offset
            required: false
            schema:
              type: number
        responses:
          '200':
            description: Successful operation
            content:
              application/json:
                example:
                  statusCode: 0
                  data:
                    - bitmap_number: 1
                      inscription_id: dbceae0a3c761e26e19ee936b688d7710e846c61224b1ad3fcc10b1d3e5a0487i0
                      holder: tb1p0e5anveswxrzkjr7mrglrk984vcjcdnfmrxt0fcd6w2s7e5q495s5knnu3
                      inscription_number: 30676
                    - bitmap_number: 2
                      inscription_id: 019ca6b32d80113c889f7b2f36c7d6921f858fc11db1611f3cc5a21d49aa35f2i0
                      holder: tb1p0e5anveswxrzkjr7mrglrk984vcjcdnfmrxt0fcd6w2s7e5q495s5knnu3
                      inscription_number: 30677
                    - bitmap_number: 3
                      inscription_id: 338f12023d33bc97b275d12a4d5c3f134ab71b133082374e858a51f68ffcfa90i0
                      holder: tb1p0e5anveswxrzkjr7mrglrk984vcjcdnfmrxt0fcd6w2s7e5q495s5knnu3
                      inscription_number: 30678
          '400':
            description: Bad Request
          '401':
            description: Unauthorized
        security:
          - bearerAuth: []


  /btc/{network}/orders/{orderId}/info:
    get:
      tags:
        - Order
      description: Get order info by order id.
      operationId: Get order info
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: orderId
          in: path
          description: Order ID
          required: true
          schema:
            type: string
        - name: details
          in: query
          description: Return Order Details
          required: false
          schema:
            type: string
            example: "1"
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  desc: Etch GOATOKKMMM•KKKG•HHH•AA
                  status: succeeded
                  payAmount: 113046
                  payAddress: tb1p4yg23c5n6t5s44vclh309lgewu0cqmzzlh22c7ehzwfwhzj36y8q7eh74x
                  postage: 546
                  receiveAddress: tb1ppresfm876y9ddn3fgw2zr0wj0pl3zanslje9nfpznq3kc90q46rqmnne43
                  feeRate: 500
                  type: runes_etch
                  payTx: 2338324efd71552c85c8a3903c6f2c960ab804cd6ed294ff12effd81be848608
                  details:
                    id: 2821647:742
                    name: GOATOKKMMM•KKKG•HHH•AA
                    divisibility: null
                    symbol: null
                    premine: null
                    amount: 1
                    cap: 21000
                    startHeight: null
                    endHeight: null
                    endOffset: null
                    revealTx:
                      txId: f1127254c92ef9e9a716963b472bffbb03c8a64296e5e776a2fe53a0d0d2806c
                      status: confirmed
                    dataURL: data:text/plain;base64,YXNkZmFzZGZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dmFzZGZhc2Rm
                    confirmations: 143
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Order ID not found
      security:
        - bearerAuth: []
  /btc/{network}/orders/runes/etch/create:
    post:
      tags:
        - Order
      description: Create order to etch a rune.
      operationId: Etch a rune
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
      requestBody:
        description: Create a order to etch
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EtchRuneDTO'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  orderId: 66686819297c5f66e6dc7835
                  payAddress: tb1qdk94c98ahp0nz5shjksudvtzaczztf2v3e9hlh
                  payAmount: 40592
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/orders/runes/etch/pay:
    post:
      tags:
        - Order
      description: Pay the order that etch a rune.
      operationId: Pay etching order
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
      requestBody:
        description: Pay a etching order
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayDTO'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  revealTx:
                    txId: 4c9500f382740f89cd764ab3b625eb7cac5c78beedf0a899198d10b54218f7b1
                    status: pending
                  status: processing
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/orders/runes/mint/create:
    post:
      tags:
        - Order
      description: Create order to mint rune.
      operationId: Mint a rune
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
      requestBody:
        description: Create a order to mint rune
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MintRuneDTO'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  orderId: 66686819297c5f66e6dc7835
                  payAddress: tb1qdk94c98ahp0nz5shjksudvtzaczztf2v3e9hlh
                  payAmount: 40592
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/orders/runes/mint/pay:
    post:
      tags:
        - Order
      description: Pay the order that mint a rune.
      operationId: Pay minting order
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
      requestBody:
        description: Pay a minting order
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayDTO'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  txs:
                    - txId: 5318dcba1bba88439d651268a42a1ab02eb201ab3dbe410f675219fc76bc4026
                      status: unconfirmed
                    - txId: c7b45d2c3cd0ff78dd17b160dd9a32cf6bddb66dc5faa8b882ae24ceb0ba534e
                      status: pending
                  status: processing
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/orders/brc20/deploy/create:
    post:
      tags:
        - Order
      description: Create order to deploy a brc20 token.
      operationId: Deploy a brc20 token
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
      requestBody:
        description: Parameters to deploy a brc20 token
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BRC20DeployDTO'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  orderId: 66686819297c5f66e6dc7835
                  payAddress: tb1qdk94c98ahp0nz5shjksudvtzaczztf2v3e9hlh
                  payAmount: 40592
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/orders/brc20/deploy/pay:
    post:
      tags:
        - Order
      description: Pay the order that deploy a brc20 token.
      operationId: Pay deploying order
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
      requestBody:
        description: Pay a deploying order
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayDTO'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  revealTx:
                    txId: 5318dcba1bba88439d651268a42a1ab02eb201ab3dbe410f675219fc76bc4026
                    status: unconfirmed
                  status: processing
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/orders/brc20/mint/create:
    post:
      tags:
        - Order
      description: Create order to mint a brc20 token.
      operationId: Mint a brc20 token
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
      requestBody:
        description: Parameters to mint a brc20 token
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BRC20MintDTO'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  orderId: 66686819297c5f66e6dc7835
                  payAddress: tb1qdk94c98ahp0nz5shjksudvtzaczztf2v3e9hlh
                  payAmount: 40592
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/orders/brc20/mint/pay:
    post:
      tags:
        - Order
      description: Pay the order that mint a brc20 token.
      operationId: Pay brc20 minting order
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
      requestBody:
        description: Pay a brc20 minting order
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayDTO'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  txs:
                    - txId: 5318dcba1bba88439d651268a42a1ab02eb201ab3dbe410f675219fc76bc4026
                      status: unconfirmed
                    - txId: c7b45d2c3cd0ff78dd17b160dd9a32cf6bddb66dc5faa8b882ae24ceb0ba534e
                      status: pending
                  status: processing
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/orders/brc20/transfer/create:
    post:
      tags:
        - Order
      description: Create order to transfer a brc20 token.
      operationId: Transfer a brc20 token
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
      requestBody:
        description: Parameters to transfer a brc20 token
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BRC20TransferDTO'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  orderId: 66686819297c5f66e6dc7835
                  payAddress: tb1qdk94c98ahp0nz5shjksudvtzaczztf2v3e9hlh
                  payAmount: 40592
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/orders/brc20/transfer/pay:
    post:
      tags:
        - Order
      description: Pay the order that transfer a brc20 token.
      operationId: Pay transfering order
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
      requestBody:
        description: Pay a transfering order
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayDTO'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  revealTx:
                    txId: 5318dcba1bba88439d651268a42a1ab02eb201ab3dbe410f675219fc76bc4026
                    status: unconfirmed
                  status: processing
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/orders/insc/inscribe/create:
    post:
      tags:
        - Order
      description: Create order to inscribe inscriptions.
      operationId: Inscribe inscriptions
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
      requestBody:
        description: Parameters to inscribe inscriptions.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InscribeDTO'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  orderId: 66686819297c5f66e6dc7835
                  payAddress: tb1qdk94c98ahp0nz5shjksudvtzaczztf2v3e9hlh
                  payAmount: 40592
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/orders/insc/inscribe/pay:
    post:
      tags:
        - Order
      description: Pay the order that inscribe inscriptions.
      operationId: Pay inscribing order
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
      requestBody:
        description: Pay a inscribing order
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayDTO'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  txs:
                    - txId: 5318dcba1bba88439d651268a42a1ab02eb201ab3dbe410f675219fc76bc4026
                      status: unconfirmed
                    - txId: c7b45d2c3cd0ff78dd17b160dd9a32cf6bddb66dc5faa8b882ae24ceb0ba534e
                      status: pending
                  status: processing
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
components:

  schemas:
    RuneDTO:
      type: object
      properties:
        name:
          type: string
          example: MYRUNE
        amount:
          type: integer
          example: 1000
        cap:
          type: integer
          example: 21000
        divisibility:
          type: integer
          example: 10
        premine:
          type: integer
          example: 10000
        symbol:
          type: string
          example: A
        startHeight:
          type: integer
        endHeight:
          type: integer
        startOffset:
          type: integer
        endOffset:
          type: integer
        dataURL:
          type: string
          example: data:text/plain;base64,YXNkZmFzZGZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dmFzZGZhc2Rm
      required:
          - name
          - amount
          - cap
    EtchRuneDTO:
      type: object
      properties:
        receiveAddress: 
          type: string
          example: tb1ppresfm876y9ddn3fgw2zr0wj0pl3zanslje9nfpznq3kc90q46rqmnne43
        feeRate: 
          type: integer
          example: 100
        postage: 
          type: integer
          example: 546
        rune:
          $ref: '#/components/schemas/RuneDTO'

      required:
        - receiveAddress
        - feeRate
        - postage
        - rune

    MintRuneDTO:
      type: object
      properties:
        receiveAddress: 
          type: string
          example: tb1ppresfm876y9ddn3fgw2zr0wj0pl3zanslje9nfpznq3kc90q46rqmnne43
        feeRate: 
          type: integer
          example: 100
        postage: 
          type: integer
          example: 546
        runeNameOrId:
          type: string
          example: "2819996:536"
        repeat:
          type: integer
          example: 10
      required:
        - receiveAddress
        - feeRate
        - postage
        - runeNameOrId
        - repeat
    BRC20DeployDTO:
      type: object
      properties:
        receiveAddress: 
          type: string
          example: tb1ppresfm876y9ddn3fgw2zr0wj0pl3zanslje9nfpznq3kc90q46rqmnne43
        feeRate: 
          type: integer
          example: 100
        postage: 
          type: integer
          example: 546
        tick:
          type: string
          example: ordi
        limit:
          type: string
          example: "1000"
        max:
          type: string
          example: "21000"
      required:
        - receiveAddress
        - feeRate
        - postage
        - tick
        - limit
        - max
    BRC20MintDTO:
      type: object
      properties:
        receiveAddress: 
          type: string
          example: tb1ppresfm876y9ddn3fgw2zr0wj0pl3zanslje9nfpznq3kc90q46rqmnne43
        feeRate: 
          type: integer
          example: 100
        postage: 
          type: integer
          example: 546
        tick:
          type: string
          example: ordi
        amt:
          type: string
          example: "1000"
        repeat:
          type: integer
          example: 100
      required:
        - receiveAddress
        - feeRate
        - postage
        - tick
        - amt
        - repeat
    BRC20TransferDTO:
      type: object
      properties:
        receiveAddress: 
          type: string
          example: tb1ppresfm876y9ddn3fgw2zr0wj0pl3zanslje9nfpznq3kc90q46rqmnne43
        feeRate: 
          type: integer
          example: 100
        postage: 
          type: integer
          example: 546
        tick:
          type: string
          example: ordi
        amt:
          type: string
          example: "200"
      required:
        - receiveAddress
        - feeRate
        - postage
        - tick
        - amt
    FileDTO: 
      type: object
      properties:
        filename: 
          type: string
          example: 1.txt
        dataURL:
          type: string
          example: data:text/plain;base64,YXNkZmFzZGZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dmFzZGZhc2Rm
      required:
        - filename
        - dataURL

    InscribeDTO:
      type: object
      properties:
        receiveAddress: 
          type: string
          example: tb1ppresfm876y9ddn3fgw2zr0wj0pl3zanslje9nfpznq3kc90q46rqmnne43
        feeRate: 
          type: integer
          example: 100
        postage: 
          type: integer
          example: 546
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileDTO'
      required:
        - receiveAddress
        - feeRate
        - postage
        - files
    PayDTO:
      type: object
      properties:
        orderId: 
          type: string
          example: 6668661c136c248b76863796
        txId: 
          type: integer
          example: "d925f0fe6bfb13ba126c1408749465ea0b58df7cc472f2b166e70c68d6fb46b3"
      required:
        - orderId
        - txId
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
