openapi: 3.0.3
info:
  title: Blockchain API
  contact:
    email: support@scrypt.io
  version: v1
  description: The blockchain API allows you to query general information about blockchain, including blocks, transactions, and addresses.
servers:
  - url: https://open-api.scrypt.io/v1
  - url: http://localhost:3008/v1
tags:
  - name: Transactions
  - name: Addresses
  - name: Blocks
  - name: Scripthash
  - name: Mempool
  - name: Fee Estimates
paths:
  /btc/{network}/txns/{txid}:
    get:
      tags:
        - Transactions
      description: Get the summary of a transaction.
      operationId: GetTransactionSummary
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: txid
          in: path
          description: txid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  txid: 56f7bf57e525c33e80e7200e8da054ca49ceacf66ea4c90c944d3a59c5a0c88b
                  version: 2
                  locktime: 0
                  vin:
                    - txid: d93f4f610f626cee5f97f61f5982057ecbc7990ca04410dc2b6f659f278122ae
                      vout: 2
                      prevout:
                        scriptpubkey: 51204a98aa12ded9f6c53e2164b90dd95d38f4be1c342ceec770c7d62d1844217cec
                        scriptpubkey_asm: OP_PUSHNUM_1 OP_PUSHBYTES_32 4a98aa12ded9f6c53e2164b90dd95d38f4be1c342ceec770c7d62d1844217cec
                        scriptpubkey_type: v1_p2tr
                        scriptpubkey_address: tb1pf2v25yk7m8mv203pvjusmk2a8r6tu8p59nhvwux86ck3s3pp0nkqt30dvt
                        value: 12500000
                      scriptsig: ''
                      scriptsig_asm: ''
                      witness:
                        - d24a3dd2508b336cc606533ad2ff69f25ca678a49e54e5aa4304647950494e416ae9ac1d5a4f86b2b97a9081078474f7f2a97288b7aa03a5980f7c5a8e6e2dab
                        - 79be667ef9dcbbac55a06295ce870b07029bfcdb2dce28d959f2815b16f81798
                        - '000000'
                        - 00000002000020ad6b5a00
                        - 637177644948c8009f33caca46125d3460da41cc884f55b0a3851874bf
                        - '01'
                        - '17'
                        - 60947600a2697601409f697601407c94b2750200006b760120a2636c04000000007e6b012094687660a2636c0200007e6b6094687658a2636c01007e6b5894687c825188766b517e020001947c7600876302000167765187630280006776528763014067765387630120677654876360677655876358677656876354675268686868686868779f696c6c7e7e6b708201208875820140887c827c7e7e7c827c7e7c7eaa6c88ac
                        - c14a981eda2acd9bf5d789fa1a9b7f95677776d99fd13ec0f658f0e4dbc5b5c878
                      is_coinbase: false
                      sequence: 57
                  vout:
                    - scriptpubkey: 00141335a6c31f8f3bcbd2598273b8c5ce87abe9f7a1
                      scriptpubkey_asm: OP_0 OP_PUSHBYTES_20 1335a6c31f8f3bcbd2598273b8c5ce87abe9f7a1
                      scriptpubkey_type: v0_p2wpkh
                      scriptpubkey_address: tb1qzv66dscl3uauh5jesfem33wws747naapcgt4c5
                      value: 12488215
                  size: 434
                  weight: 680
                  fee: 11785
                  status:
                    confirmed: true
                    block_height: 201433
                    block_hash: 0000001a6bafcde7aac0049912a755770920bcd85e28a19c550079a75d66d918
                    block_time: 1719250922
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/addresses/{address}/balance:
    get:
      tags:
        - Addresses
      description: Get balance of an address.
      operationId: GetAddressBalance
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: address
          in: path
          description: BTC address
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  address: tb1ppvndcdvhjelakr420r9zqfwecke5utl5ug8p7czg0vq8rwd7a4rs4qhmlz
                  chain_stats:
                    funded_txo_count: 3
                    funded_txo_sum: 9457147
                    spent_txo_count: 1
                    spent_txo_sum: 270329
                    tx_count: 3
                  mempool_stats:
                    funded_txo_count: 0
                    funded_txo_sum: 0
                    spent_txo_count: 0
                    spent_txo_sum: 0
                    tx_count: 0
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/addresses/{address}/utxo:
    get:
      tags:
        - Addresses
      description: Get UTXO of an address.
      operationId: GetAddressUTXO
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: address
          in: path
          description: BTC address
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - txid: bedea488fb3bc4ef020057a49ca9b7c0854a639b58898c3f684d861db9989718
                    vout: 0
                    status:
                      confirmed: true
                      block_height: 201435
                      block_hash: 000000d653f63d3c002c22b224910cea35f46ac65dd11775c0530167809b8ab9
                      block_time: 1719251979
                    value: 8969609
                  - txid: 2a534be761994eb2a91e19705253d93c72220e92bcac4db67e5b0a9abfd6447c
                    vout: 2
                    status:
                      confirmed: true
                      block_height: 200590
                      block_hash: 000000508264684f54289a63d59de1f7328a57c621d24b03b71b01fd456a5d28
                      block_time: 1718741078
                    value: 217209
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/addresses/{address}/history:
    get:
      tags:
        - Addresses
      description: Get transaction history of an address.
      operationId: GetAddressTransactionHistory
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: address
          in: path
          description: BTC address
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - txid: bedea488fb3bc4ef020057a49ca9b7c0854a639b58898c3f684d861db9989718
                    version: 2
                    locktime: 0
                    vin:
                      - txid: 6fbd7b7d9f7c013f6f7d6d8076c6e4841c8b7748d0f1e7be7f35dfd82fd96e85
                        vout: 1
                        prevout:
                          scriptpubkey: 0014b8f6d8a9ec9b15db1d2b3d50674b618dc89b3f14
                          scriptpubkey_asm: OP_0 OP_PUSHBYTES_20 b8f6d8a9ec9b15db1d2b3d50674b618dc89b3f14
                          scriptpubkey_type: v0_p2wpkh
                          scriptpubkey_address: tb1qxxpt9dwj7a95np0vmefp3qltmt3q04yymgqg24
                          value: 9301087
                        scriptsig: ''
                        scriptsig_asm: ''
                        witness:
                          - 3045022100a3d0b3b5c9061c97f5294b900e2c6e41c728d331017d8ab09d7f2c88f551477d022028c63c3d0101d8d2afc8d378cc233e6e34b9c30895b009c6f3d5c62352b3658a01
                          - 022005fbc83d4cbfc8ecfda3e64f5373c9759e1a18b83e48c860206bb97e4d79b3
                        is_coinbase: false
                        sequence: 4294967295
                    vout:
                      - scriptpubkey: 00141d03f1abdfa481c7e4d39685e2d15f3d8fa49119
                        scriptpubkey_asm: OP_0 OP_PUSHBYTES_20 1d03f1abdfa481c7e4d39685e2d15f3d8fa49119
                        scriptpubkey_type: v0_p2wpkh
                        scriptpubkey_address: tb1qdd70v47kl3pka5z7vheyzc47p9dfgf9kz4xzfe
                        value: 1056478
                      - scriptpubkey: 0014585856d99b0e5edb33cfaa9b11046903d8b5b6c0
                        scriptpubkey_asm: OP_0 OP_PUSHBYTES_20 585856d99b0e5edb33cfaa9b11046903d8b5b6c0
                        scriptpubkey_type: v0_p2wpkh
                        scriptpubkey_address: tb1qx3qax0q95qucqf6dznakyequ9ukqyyvw79vw93
                        value: 8969609
                    size: 248
                    weight: 663
                    fee: 27318
                    status:
                      confirmed: true
                      block_height: 201435
                      block_hash: 000000d653f63d3c002c22b224910cea35f46ac65dd11775c0530167809b8ab9
                      block_time: 1719251979
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/blocks/{block}:
    get:
      tags:
        - Blocks
      description: Get the summary of a block.
      operationId: GetBlockSummary
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: block
          in: path
          description: Block hash or height
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  id: 0000000a9115ce547cbdd4f71e91d149f56896cfc4a93c992273b4a4e7607aa3
                  height: 201000
                  version: 536870912
                  timestamp: 1719244803
                  bits: 387458002
                  nonce: 2740000250
                  merkle_root: 6f7ed0ad6e1b1946ab7e269d4d7e96ef5e527aafc7a267ba3a875d8e255e4e6d
                  prev_block_hash: 000000038aadc73b50e9da7ef4ef4a22c9b5c3797073cf939cb707381da3b48f
                  tx_count: 10
                  size: 2356
                  weight: 9465
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []

  /btc/{network}/scripthash/{scripthash}/balance:
    get:
      tags:
        - Scripthash
      description: Get balance of a scripthash.
      operationId: GetScripthashBalance
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: scripthash
          in: path
          description: BTC scripthash
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  scripthash: e2c73edb0e1ad7d8b792e3d7f19c736f0c50f46dfd9b1f0b1f0b1f0b1f0b1f0b
                  balance: 12488215
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/scripthash/{scripthash}/utxo:
    get:
      tags:
        - Scripthash
      description: Get UTXO of a scripthash.
      operationId: GetScripthashUTXO
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: scripthash
          in: path
          description: BTC scripthash
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - txid: bedea488fb3bc4ef020057a49ca9b7c0854a639b58898c3f684d861db9989718
                    vout: 0
                    status:
                      confirmed: true
                      block_height: 201435
                      block_hash: 000000d653f63d3c002c22b224910cea35f46ac65dd11775c0530167809b8ab9
                      block_time: 1719251979
                    value: 8969609
                  - txid: 2a534be761994eb2a91e19705253d93c72220e92bcac4db67e5b0a9abfd6447c
                    vout: 2
                    status:
                      confirmed: true
                      block_height: 200590
                      block_hash: 000000508264684f54289a63d59de1f7328a57c621d24b03b71b01fd456a5d28
                      block_time: 1718741078
                    value: 217209
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/scripthash/{scripthash}/history:
    get:
      tags:
        - Scripthash
      description: Get transaction history of a scripthash.
      operationId: GetScripthashTransactionHistory
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: scripthash
          in: path
          description: BTC scripthash
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - txid: 1f45e29f1c2f5db5300400e8da084cac93ce5fa66ea6c90c944d3a59c5a0c88b
                    block_height: 201000
                    block_hash: 0000000a9115ce547cbdd4f71e91d149f56896cfc4a93c992273b4a4e7607aa3
                    block_time: 1719244803
                    value: 12488215
                  - txid: 2b46e29f1c2f5db5300400e8da084cac93ce5fa66ea6c90c944d3a59c5a0c88c
                    block_height: 201001
                    block_hash: 0000000b9115ce547cbdd4f71e91d149f56896cfc4a93c992273b4a4e7607aa4
                    block_time: 1719244810
                    value: 217209
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/scripthash/{scripthash}/mempool:
    get:
      tags:
        - Scripthash
      description: Get mempool transactions of a scripthash.
      operationId: GetScripthashMempool
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
        - name: scripthash
          in: path
          description: BTC scripthash
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - txid: 1e12468f1c129ed0403e5d6a47e5ecf877e06a382cd85dd4fa2ae3f44c9f376b
                    fee: 1520
                    vsize: 224
                    value: 530000
                  - txid: d5d3a0e0f303b8eea44b8e36e65d0e2ac3fcf9c47e6353dd60ff04d1a1e93a9c
                    fee: 2430
                    vsize: 345
                    value: 920000
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
        
  /btc/{network}/mempool:
    get:
      tags:
        - Mempool
      description: Get the status of the mempool.
      operationId: GetMempoolStatus
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  count: 3756
                  vsize: 1023144
                  total_fee: 5461201
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/mempool/recent:
    get:
      tags:
        - Mempool
      description: Get the list of recent transactions in the mempool.
      operationId: GetRecentMempoolTransactions
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  - txid: 1e12468f1c129ed0403e5d6a47e5ecf877e06a382cd85dd4fa2ae3f44c9f376b
                    fee: 1520
                    vsize: 224
                    value: 530000
                  - txid: d5d3a0e0f303b8eea44b8e36e65d0e2ac3fcf9c47e6353dd60ff04d1a1e93a9c
                    fee: 2430
                    vsize: 345
                    value: 920000
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
  /btc/{network}/fee-estimates:
    get:
      tags:
        - Fee Estimates
      description: Get fee estimates for transactions.
      operationId: GetFeeEstimates
      parameters:
        - name: network
          in: path
          description: BTC chain network (mainnet | testnet | signet)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              example:
                statusCode: 0
                data:
                  fastest_fee: 20
                  half_hour_fee: 15
                  hour_fee: 10
                  economy_fee: 5
                  minimum_fee: 1
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      security:
        - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
